<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WEBRTC</title>
        <meta charset="UTF-8">
    </head>
    <body>
    <h1>Training WEBRTC</h1>
    <video id="localStream" width="300px" controls></video>
    </br> <label>My connection</label>
    </br> </br>
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    </br> </br>
    <input type="text" placeholder="Your Friends Token" id="txtFriendSignal">
    </br> </br>
    <button id="btnConnect">Connect</button>
    </body>
    <script src="bundle.js"></script>
</html>